.container-carrousel {
	height: 30%;
}

.container-img-3 {
	width: 20%;
	height: 100%;
	display: inline-block;
	border: 1px solid var(--grey);
	border-radius: .25rem;
}

.wrap-img {
	width: 80%;
	border-radius: .25rem;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 4%;
}

.content-carousel {
	display: flex;
}