body {
    margin-left: 0px;
}

.for-hover-side {
    display: inline-block;
    width: 20px;
    height: 100%;
    float: left;
    transition: margin-left .5s;
}

.button-open-sidebar {
    width: 20px;
    height: 40px;
    background-color: var(--blacker);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border: 0px solid var(--blacker);
    border-left: 0;
    text-align: center;
    padding-left: 0px;
    font-size: 14px;
    color: var(--white);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    position: relative;
    top: 40%;
}

.button-open-sidebar:hover {
    background-color: var(--dark-black);
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--dark-black); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.item-nav {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--darker-grey);
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.item-nav:hover {
    background-color: var(--blacker);
    color: var(--white);
}

.ico-down-style {
    vertical-align: bottom;
    float: right;
}

.main {
    transition: margin-left .5s;
    padding: 22px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
