.content-holder-autocomplete {
    position: relative;
    width: 100%;
}
.autocomplete-box {
    position: absolute;
    display: inline-block;
    z-index: 9999999;
    border: 1px solid var(--grey);
    left: 0;
    right: 0;
    border-top: none;
    margin-right: 9px;
    border-radius: 0 0 .25rem .25rem;
}

.autocomplete-items {
    padding: 10px;
    cursor: pointer;
    background-color: var(--white);
    border-bottom: 1px solid var(--grey);
    z-index: 9999999;
}

.autocomplete-items:last-child {
    border-bottom: none;
}

.autocomplete-items:hover {
  background-color: var(--dark-grey);
}

.autocomplete-active {
    background-color: var(--usual-blue);
    color: var(--white);
}

.with-autocomplete {
    border-radius: .25rem .25rem 0 0;
}
